/* Navigation Bar */
.nb {
    background-color: #ffffff; /* Background color of the navigation bar */
    padding: 10px 20px; /* Padding around the navigation bar */
    display: inline-block;
    margin: auto;
}

/* Navigation Menu */
.nm {
    list-style-type: none; /* Remove bullet points from the list */
    margin: auto;
    padding: auto;
}

/* Navigation Menu Items */
.nm li {
    display: inline; /* Display menu items horizontally */
    margin-right: 20px; /* Add space between menu items */
}

/* Navigation Menu Links */
.nm li a {
    text-decoration: none; /* Remove underline from links */
    color: #000000; /* Text color of the links */
    font-size: 16px; /* Font size of the links */
}

/* Navigation Menu Links on Hover */
.nm li a:hover {
    color: #ffa500; /* Text color of links on hover */
}




/*     ---------------------------------------------------------------------------------------            */


.pin {
    text-align: center;
}

.pin img {
    display: block;
    margin: auto;
    width: 50%;
    animation: move 2s infinite;
    /* width: 100%; */
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}
p {
    
}
@keyframes move {
    0% {transform: translateY(0);}
    50% {transform: translateY(10px);}
    100% {transform: translateY(0);}
}


/* ---------------------------3 line ---------------- */