{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='pro.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='pro.css') }}">
{% endblock %}

{% block content %}
<div class="resume-container">
    <div class="left-column">
        <div class="profile">
            <img src="{{ url_for('static', filename='images/van.jpg') }}" alt="Profile Picture">
            <h2 style="font-size: 50px;">Vandan Patel</h2>
            <p>AI Student, ADIT</p>
        </div>
        <div class="about">
            <p> 
                
            </p>
        </div>
        <div class="contact">
            <h2>Contact Me</h2>
            <p>Email: vandan11patel@gmail.com</p>
            <p>Contact: +91 9664792015 </p>
        </div>
    </div>

    <div class="right-column">
        <div class="skills">
            <h2>Technical Skills</h2>
            <div class="skills-icons">
                <ul>
                    <li><p><b>Programming Languages :</b> Python, Java, React JS</p></li>
                    <li><p><b>Database :</b> SQL, MongoDB, MySQL</p></li>
                    <li><p><b>Frameworks and Libraries:</b> Flask, FastAPI, PyTorch, TensorFlow, Keras </p></li>
                    <li><p> <b>Tools and Technologies:</b>Git, Docker </p></li>
                    <li><p> <b>Other Skills:</b> Machine Learning, Deep Learning, Web Development, Data Science, Statistical Analysis </p></li>
                </ul>
            </div>
        </div>
        <div class="software-skills">
            <h2>Software Skills</h2>
            <ul>
                <li>Critical Thinking</li>
                <li>Problem-solving</li>
            </ul>
            
        </div>
        <div class="education">
            <h2>Education</h2>
            <ul>
                <li>2022 - Present: A.D Patel Institute Of Technology, Anand (8.72 CGPA)</li>
                
            </ul>
        </div>
        <div class="skills">
            <h2>Hobbies</h2>
            <div class="skills-icons">
                <ul>
                    <li>Exploring new technology</li>
                    <li>Painting</li>
                    <li>Storytelling</li>
                </ul>
            </div>
        </div>
        <!-- <div class="work-experience">
            <h2>Work Experience</h2>
            <ul>
                <li><strong>Fashion Design Intern</strong> at Aditya Birla Group - Liva (June 2021 - Aug 2021)</li>
                <li><strong>Illustrator</strong> at Pragmatic Art (Sept 2021 - Present)</li>
            </ul>
        </div> -->
        <!-- <div class="additional-experience">
            <h2>Additional Experiences</h2>
            <ul>
                <li>Intern at Dhaari by Deepika</li>
                <li>Intern at Kanelle at Lakme Fashion Week</li>
                <li>Intern at Gas Jeans</li>
            </ul>
        </div> -->
    </div>
</div>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}
