{% block css %}
    {% endblock %}
 
    <footer>
        <div class="foot">
            <a href="https://www.linkedin.com/in/patelvandan11"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.linkedin.com/in/patelvandan11"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/patelvandan11"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/patelvandan11"><i class="fa-brands fa-kaggle"></i></a>
            <a href="https://www.linkedin.com/in/patelvandan11"><i class="fa-brands fa-medium"></i></a>
            
        </div>
    </footer>