{% block css %}
{% endblock %}


<footer>
    <div class="foot">
        <a href="https://www.linkedin.com/in/patelvandan11" target="_blank" title="LinkedIn">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://www.instagram.com/vandan_1_1/" target="_blank" title="Instagram">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://github.com/patelvandan11" target="_blank" title="GitHub">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://www.kaggle.com/patelvandan115" target="_blank" title="Kaggle">
            <i class="fa-brands fa-kaggle"></i>
        </a>
        <a href="https://medium.com/@vandan11patel" target="_blank" title="Medium">
            <i class="fa-brands fa-medium"></i>
        </a>
    </div>
</footer>
