{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<main>

    <!-- ✅ Hero Section (Welcome) -->
    <div class="vandan">
        <div class="hero-text">
            <h2>👋 Welcome, I am <span>Vandan</span></h2>
            <p>I am currently pursuing a degree in Artificial Intelligence and Data Science at CVM University.</p>
            <a class="resume-button"
               href="https://drive.google.com/file/d/17dfVSKEJgR4Xyq3aIDXIRT8sBiGO_oFK/view?usp=drive_link"
               download="Vandan_Resume.pdf">
                📄 Download Resume
            </a>
        </div>

        <div class="hero-image">
            <img src="{{ url_for('static', filename='images/van.jpg') }}" alt="Vandan's portrait">
        </div>
    </div>


     <!-- <div class="delhi-diary" >
        <h2><strong>Diary</strong></h2>
        <div class="image-gallery">
            <img src="{{ url_for('static', filename='images/mirror.jpg') }}" alt="Delhi Image 1">
            <img src="{{ url_for('static', filename='images/vandan1.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='images/mirror.jpg') }}" alt="Delhi Image 3">
        </div>
    </div> -->

</main>     
{% endblock %}
