{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<main>
    <div class="vandan">
        <div class="hero-text">
            <h2>👋 Welcome, I am <span>Vandan</span></h2>
            <p>I am currently pursuing a degree in Artificial Intelligence and Data Science at CVM University.</p>
        </div>
        <div class="hero-image">
            <img src="{{ url_for('static', filename='images/van.jpg') }}" alt="Vandan's portrait">
        </div>
    </div>
</main>
{% endblock %}
 