{% extends 'base.html' %}

{% block project %}
<div class="page-container">
    <section id="projects" class="section-projects">
        <div class="projects-grid">
            <div class="projects-grid-wrapper ss-animated" data-animate-block="">

                {% for project in projects %}
                <article class="project-card">
                    <div class="project-card__thumbnail">
                        <a href="{{ project.url }}" class="project-card__link">
                            <img src="{{ project.img_src }}"
                                 srcset="{{ project.img_srcset }}"
                                 alt="{{ project.title }} thumbnail">
                        </a>
                    </div>
                    <div class="project-card__content">
                        <div class="project-card__header">
                            <div class="project-card__meta">
                                <span class="category-links">
                                    <a href="{{ project.url }}">Project</a>
                                </span>
                            </div>
                            <h2 class="project-card__title">
                                <a href="{{ project.url }}">{{ project.title }}</a>
                            </h2>
                        </div>
                        <div class="project-card__description">
                            <p>{{ project.description }}</p>
                        </div>
                        <a class="project-card__read-more" href="{{ project.urlw }}">Read More</a>
                    </div>
                </article>
                {% endfor %}

            </div> </div> </section> </div> {% endblock %}